<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" href="../static/style.css">
    <title>Пожалуйста оцените наше обслуживание!</title>
</head>
<body>
<div>
<p class="center">Информация о технических характеристиках,
    составе комплектаций, цветовой гамме и рекомендованных
    розничных ценах, опубликованных на официальном сайте АО «АВТОВАЗ» (www.lada.ru), носит справочный характер и ни при каких обстоятельствах не является публичной офертой, определяемой положениями Статьи 437 ч.2 Гражданского кодекса Российской Федерации. Для получения подробной информации обращайтесь к официальным дилерам АО «АВТОВАЗ».
</p>
</div>
    <div class="container">
        <img src="../static/logo.png" alt="Lada" class="logo">
        <!-- @todo - message -->
        <form action="/submit" method="POST" >
            <div class="form-group">
                <h2 class="center">     Спасибо что выбрали нас!</h2>
                <h3>Имя посетителя</h3>
                <input
                  type="text"
                  name="customer"
                  placeholder="Напишите как вас зовут"
                />
            </div>
                <div class="form-group">
          <h3>Диллер</h3>
          <select name="dealer">
            <option value="">Выберете диллера</option>
            <option value="Сергей Иванов">Сергей Иванов</option>
            <option value="Семен Питерский">Семен Питерский</option>
            <option value="Даниил Синьков">Даниил Синьков</option>
            <option value="Василиса Глушатова">Василиса Глушатова</option>
          </select>
                    <div class="form-group">
          <h3>Пожалуйста оцените вашего диллера</h3>
          <input type="radio" name="rating" value="1" /> 1
          <input type="radio" name="rating" value="2" /> 2
          <input type="radio" name="rating" value="3" /> 3
          <input type="radio" name="rating" value="4" /> 4
          <input type="radio" name="rating" value="5" /> 5
        </div>
                    <div class ="form-group">
                        <h3>  Порекомендуете ли вы нас друзьям?        </h3>
                         <input type="radio" name="ratingf" value="yes" /> Да
                         <input type="radio" name="ratingf" value="no" /> Нет


                    </div>
        <div class="form-group">
          <h3>Поделитесь своим мнением</h3>
          <textarea
            name="comments"
            id=""
            cols="30"
            rows="10"
            placeholder="Пожалуйста расскажите детально что вам понравилось"
          ></textarea>
        </div>
                    <input type="submit" value="Отрпавить" class="btn" />
        </form>
    </div>
</body>
</html>